body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
.name-highlight{
    color: orange;
}
.half-part{
    margin-left: 5%;
    width: 40%;
    float: left;
    padding-left: 2%
}
.half-part img{
    width: 100%;
}